**/.pytest_cache/
**/data/
**/out/
**/envs/
**/.venvs/
**/processed_data/
**/lightning_logs/
__pycache__/
**/outputs/
**/logs/
training.1600000.processed.noemoticon.csv
**/results/
**/figures/
**/slurm_out/
**/task_slurm_out/
**/data_exploration/*.csv


